[submodule "meta-dotbot"]
	path = meta-dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "editors/vim/bundle/Vundle.vim"]
	path = editors/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
