tmux/plugins/*
editors/vim/bundle/*
editors/vim/plugged/*
editors/vim/backup/*
editors/vim/swap/*
editors/vim/undo/*
editors/vim/init.vim
editors/nvim/plugin/packer_compiled.lua
editors/lvim/plugin/packer_compiled.lua
editors/emacs/
editors/emacs/custom.el
editors/vim/.netrwhist
!editors/emacs/configuration.org
!editors/emacs/init.el
!editors/emacs/resources
!editors/emacs/snippets
