editors/vim/bundle/*
editors/vim/plugged/*
editors/vim/backup/*
editors/vim/swap/*
editors/vim/undo/*
editors/vim/init.vim
editors/emacs/elpa/*
editors/emacs/network-security.data
editors/emacs/auto-save-list/*
editors/emacs/*~
