[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-onedark-theme"]
	path = tmux/plugins/tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme
[submodule "tmux/plugins/tmux-fzf"]
  path = tmux/plugins/tmux-fzf
  url = https://github.com/sainnhe/tmux-fzf
