# all.snippets - Snippets for all file type

snippet author "Author's name"
Hervé MARTIN
endsnippet

snippet email "Author's email"
herve.martin@gmail.com
endsnippet

snippet emailk "Author's email"
herve.martin@kosmos.fr
endsnippet

snippet date "Current date (%Y-%m-%d)"
`!v strftime('%Y-%m-%d')`
endsnippet

snippet Date "Current date (%B %e, %Y)"
`!v strftime('%B %e, %Y')`
endsnippet
